<div
  class="card"
  [class.cliquable]="cliquable()"
  [class.selected]="selected()"
  [ngStyle]="{
    background:
      'radial-gradient(circle at 50% 0%, ' +
      getTypeColor(pokemon().types[0]) +
      ' 36%, #ffffff 36%)'
  }"
>
  <img [src]="pokemon().image_url" />
  <h2 class="poke-name">{{ pokemon.name | titlecase }}</h2>
  <div class="types">
    @for(type of pokemon().types; track type) {
    <span [ngStyle]="{ 'background-color': getTypeColor(type) }">
      {{ type | titlecase }}
    </span>
    }
  </div>
  <div class="stats">
    @if(showAttackStat()) {
    <div>
      <p>Attack</p>
      <h3>{{ pokemon().stats.attack }}</h3>
    </div>
    } @if(showDefenseStat()) {
    <div>
      <p>Defense</p>
      <h3>{{ pokemon().stats.defense }}</h3>
    </div>
    } @if(showHealthStat()) {
    <div>
      <p>HP</p>
      <h3>{{ pokemon().stats.hp }}</h3>
    </div>
    }
  </div>
</div>
