.card-empty {
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  border-style: dashed;

  height: 324px;
  width: 200px;

  padding: 0 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  &.selected {
    border: 2px black solid;
  }
}
